<!-- post list -->
<div data-pagefind-ignore="all">
{{ $pages := where .Paginator.Pages ".Params.skip" "ne" "true" }}
  {{ if eq .Section "talks" }}
    {{ range $pages }}
      {{ partial "li.html" . }}
    {{ end }}
  {{ else if eq .Section "slides" }}
    {{ range where $pages ".Date.Unix" "<" now.Unix }}
      {{ partial "li.html" . }}
    {{ end }}
  {{ else }}
    {{ range where (where $pages ".Date.Unix" "<" now.Unix) "Section" "ne" "slides" }}
      {{ partial "li.html" . }}
    {{ end }}
  {{ end }}
<hr>
{{ end }}
</div>
